[submodule]
	recurse = true
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/Dispatch-AI-com/frontend.git
	branch = main
[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/Dispatch-AI-com/backend.git
	branch = main
[submodule "apps/ai"]
	path = apps/ai
	url = https://github.com/Dispatch-AI-com/AI.git
	branch = main
[submodule "deployment"]
	path = deployment
	url = https://github.com/Dispatch-AI-com/deployment.git
	branch = main
[submodule "infra"]
	path = infra
	url = https://github.com/Dispatch-AI-com/infra.git
	branch = main
